*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* background-image: url('https://as1.ftcdn.net/v2/jpg/04/52/89/74/1000_F_452897475_u2U41KwPxJp9gecDMm8uvXIuviJRb10h.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box; */
    /* color:white; */
}